@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon</h1>
<h2>Stylist / Client Database</h2>
<h4>@Html.ActionLink("Stylists", "Index", "Stylists")</h4> 
<h4>@Html.ActionLink("Clients", "Index", "Clients")</h4>